.formsignin{
    background-color: rgba(13, 154, 215, 0.2);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: solid 10px blue;
    width: 550px;
    height: 600px;
    font-size: 25px;
    font-weight: bold;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}
.tablesignin{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}
tr{
    text-align: right;
    padding-right: 50px;
}
.signinput{
    font-size: 25px;
    margin-left: 20px;
}
